

body {
  font: normal 1rem "Open Sans", arial, sans-serif;
}
.card {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
}

img {
  width: 300px;
}

.card-title {
  margin: 0;
  font-size: 1.875rem;
}

.card-picture {
    padding: 10px 0;
}

.card-content {
  margin: 0;
  padding: 10px;
  font-size: 0.813rem;
  border: 1px solid #ccc;
}

.card-details {
  padding: 0;
  list-style: none;
}

.card-details .item {
  font-style: italic;
}

.card-details .label {
  font-weight: bold;
  font-style: normal;
}

img {
  width: 300px;
}
